:root {
  --border-radius: 0.75rem;
  --container-child-margin-top: 1.25rem;
  --container-child-margin-bottom: 1.25rem;

  --color-primary: #681A39;
  --color-secondary: #F9F6ED;

  --transition-seconds: 0.5s;
}

@font-face {
  font-family: 'Ivar Display';
  src: url('./assets/fonts/ivar-display-condensed-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modena Sans';
  src: url('./assets/fonts/modena-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100
  }
}

body {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.quiz-wrapper div, .quiz-wrapper h1, .quiz-wrapper h2, .quiz-wrapper p, .quiz-wrapper span {
  font-family: 'Ivar Display', Arial, sans-serif;
  font-weight: 400;
  color: #F9F6ED;
  margin: 0 0 0 0;

  text-align: center;
}

.quiz-wrapper button:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  transition: var(--transition-seconds);
}

.quiz-wrapper button {
  transition: var(--transition-seconds);
}


.fade-in {
  animation: fadeIn 500ms forwards;
}

.opacity-0 {
  opacity: 0
}

.green-border {
  border: .1rem solid #47E46E;
}

.red-border {
  border: .1rem solid #FF6161;
}

.text-green {
  color: #47E46E!important;
}

.text-red {
  color: #FF6161!important;
}

.quiz-wrapper {
  width: 100vw;
  height: 100vh;

  background-color: #12250F;

  position: absolute;
  display: float;
  z-index: 100000;
  
  box-sizing: border-box;
  font-size: 62.5%; // defines rem by browser default; 1rem == 10px
  font-size: 1.6rem;  

  overflow: hidden;
}

.quiz-background {  
  height: 95vh;
  width: 100vw;

  top: 5vh;
  
  background-color: #F9F6ED;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bg-main {
  background-image: url('./assets/quiz-background.jpg');
}

.quiz-container {
  min-width: 85%;
  max-width: 90%;
  height: 75%;
  
  margin: 0 auto;
  
  background-color: #12250F;
  background-size: cover;

  border-radius: 1.5rem;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.quiz-frame-start {  
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.quiz-logo {
  max-width: 15%;
}

h1.quiz-header-start {
  max-width: 65%;

  font-size: 2.5rem;

  text-align: center; 
  color: #F9F6ED;
}

.button-start {
  font-size: 1rem;
  font-family: 'Modena Sans', Arial, sans-serif;
  font-weight: 400;

  min-height: 6%;
  padding: 0 2rem;

  background-color: #681A39;
  color: #F9F6ED;
  
  text-transform: uppercase;
  
  border: none;
}

.quiz-frame-choices {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.quiz-frame-choice-grid {
  min-height: 50%;
  min-width: 50%;
  max-width: 60%;

  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  gap: 0.5rem;
}

.quiz-frame-choice-grid :nth-child(2n+1) {
  grid-column: 2;
}

.quiz-header-choices {
  max-width: 65%;

  font-size: 1.25rem;

  text-align: center; 
  color: #F9F6ED;
}

.quiz-card {
  box-sizing: border-box;
  position: relative;

  min-width: 6rem;
  min-height: 9rem;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.15rem;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.quiz-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  border-radius: 0.475rem;
  border: 0.1rem solid #F9F6ED; 
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url('./assets/quiz-background.jpg');
  background-size: cover;

  backface-visibility: hidden;
  transition: all var(--transition-seconds) ease-out;
  transform: rotateY(0deg);
}

.quiz-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  border-radius: 0.475rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  background-image: url('./assets/quiz-background.jpg');
  background-size: cover;
  
  backface-visibility: hidden;
  transition: all var(--transition-seconds) ease-out;
  transform: rotateY(180deg);
  
}

.quiz-card-front-flip {
  transform: rotateY(-180deg);
}

.quiz-card-back-flip {
  transform: rotateY(0deg);
}

.button-next {
  font-family: 'Modena Sans', Arial, sans-serif!important;
  font-size: 1.2rem;
  font-weight: 400;

  min-width: 40%;
  min-height: 8%;

  margin: 0.1rem 0 1.25rem;

  background-color: #681A39;
  color: #F9F6ED;
  
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-quiz-choices-score {
  margin-top: 1.2rem;
}

.text-round-number {
  font-size: 1.5rem;
  color: #F9F6ED;
}

.text-quiz-card-choice-label {
  color: #F9F6ED;
  pointer-events: none;
}

.text-quiz-card-choice {
  color: #F9F6ED;
  pointer-events: none;

  padding: 0 .2rem;
  text-align: center;
}

.quiz-frame-result {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.quiz-result-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  min-width: 70%;
  max-width: 70%;
  height: 60%;
  
  background-image: url('./assets/quiz-background.jpg');
  background-size: cover;

  border-radius: 0.475rem;
  border: 2px solid #F9F6ED;
}

.quiz-frame-result span {
  color: #F9F6ED;
}

h1.quiz-header-result {
  color: #F9F6ED;
  font-family: 'Modena Sans', Arial, sans-serif;
  font-size: 1.25rem;  
  
  margin: 1.5rem 0 0 0;
}

h2.quiz-subheader-result {
  font-size: 3.25rem;
}

div.quiz-frame-social-media {
  width: 40%;
  margin: 0 0 .5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: var(--container-child-margin-bottom)
}

h2.quiz-header-social-media {
  color: #F9F6ED;
  font-size: 2.25rem;

  margin-top: 0.5rem;
}

.quiz-wrapper ul {
  width: 100%;
  padding: 0;
  overflow: visible;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.quiz-wrapper li {
  list-style-type: none;
  border-radius: var(--border-radius);

  max-width: 3rem;
  max-height: 3rem;

  background-color: #681A39;
}

.text-quiz-final-score span {
  font-size: 1.8rem;
}

.text-quiz-competency {
  padding: 0 2.2rem;
  font-size: 1.35rem;
  text-align: center;
}

#link-logo {  
  background-image: url('./assets/svg/link-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

#x-logo {  
  background-image: url('./assets/svg/x-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 55%;
}

#instagram-logo {  
  background-image: url('./assets/svg/instagram-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

#fb-logo {  
  background-image: url('./assets/svg/fb-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
}

.quiz-wrapper li {
  width: 4.2rem;
  height: 4.2rem;
}

@media (min-width: 768px) {
  .quiz-frame-choice-grid {
    min-height: 55%;
    min-width: 80%;
    max-width: 90%;
    gap: 0.5rem;

    display: flex;
  }

  .quiz-frame-result {
    width: 55%;
  }

  .quiz-card {
    min-width: 12rem;
    min-height: 18rem;
  }

  .quiz-card {
    font-size: 1.5rem;
  }

  .text-round-number {
    font-size: 2rem;
  }

  .quiz-header-social-media {
    font-size: 1.5rem;
  }

  .quiz-container {
    min-width: 85%;
    max-width: 90%;
    min-height: 65%;
    max-height: 75%;
  } 

  h1.quiz-header-start {
    font-size: 6rem;
  }
}
