@font-face {
  font-family: 'Ivar Display';
  src: url('./assets/fonts/ivar-display-condensed-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modena Sans';
  src: url('./assets/fonts/modena-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bemba Standard Semibold';
  src: url('./assets/fonts/bembo-standard-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --color-primary: #681A39;
  --color-secondary: #F9F6ED;
  --color-tertiary: #E3C67E;
  --color-white: #FFFFFF;

  --color-green: #47E46E;
  --color-red: #FF6161;

  --font-stack-primary: 'Ivar Display', Arial, sans-serif;
  --font-stack-secondary: 'Modena sans', Arial, sans-serif;
  --root-font-size-percent: 62.5%; 
  
  --font-size-mobile-header: 3.75rem;
  --font-size-mobile-subheader: 2.6rem;
  
  --font-size-mobile-xx-large: 1.6rem;
  --font-size-mobile-x-large: 1.5rem;
  --font-size-mobile-large: 1.25rem;
  --font-size-mobile-medium: 1rem;
  --font-size-mobile-small: 0.85rem;

  --container-width-desktop: 60rem;
  --container-width-mobile: 26rem;
  
  --font-size-desktop-header: 5.8rem;
  --font-size-desktop-subheader: 3.5rem;
  
  --font-size-desktop-large: 2rem;

  --border-radius: 0.5rem;
  --border-width: 0.1rem;

  --padding-mobile-xxlarge: 4rem;
  --padding-mobile-xlarge: 3rem;
  --padding-mobile-large: 2rem;
  --padding-mobile-medium: 1rem;
  --margin-top: 1.25rem;
  --margin-bottom: 1.25rem;
  --flex-gap: 1.5rem;

  --transition-seconds: 0.75s;
}

/* globals */
html {
  font-size: var(--root-font-size-percent);
}

body {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* utilities */
.animation-fade-in {
  animation: fadeIn var(--transition-seconds) ease-in;
}

.font-primary {
  font-family: var(--font-stack-primary)!important;
}

.font-secondary {
  font-family: var(--font-stack-secondary)!important;
}

.main-logo {
  width: 15rem;
  height: 11rem;

  background-image: url('./assets/quiz-logo.png');
  background-size: cover;
  background-position: center;
}

.hidden {
  opacity: 0;
  transition: all var(--transition-seconds) ease-in-out;
}

.selected {
  border: var(--border-width) solid var(--color-primary)!important;
}

/* containers */
.wrapper-quiz {
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-quiz * {
  font-family: var(--font-stack-primary);
  color: var(--color-primary);
  box-sizing: border-box;
  border: none;
}

.container-quiz {
  width: 100vw;
  height: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* background-image: url('./assets/quiz-background.jpg'); */
}

.quiz-splash-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 2rem;
}

.quiz-splash-page__header {
  font-size: var(--font-size-mobile-header);
}

.quiz-splash-page__button, .choices__button {
  font-size: var(--font-size-mobile-large);
  font-family: var(--font-stack-secondary);

  background-color: var(--color-primary);
  color: var(--color-secondary);

  padding: 1rem 2rem;
  transition: all var(--transition-seconds) ease-in-out;
}

.choices__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap);

  padding: 0 2rem;

  height: 40rem;
  width: 40rem;
  font-size: var(--font-size-mobile-paragraph);
}

.choices__header {
  width: var(--container-width-mobile);
  font-size: var(--font-size-mobile-subheader);
  margin: 0;
  text-align: center;
}

.choices__choice {
  width: var(--container-width-mobile);
  height: 4.75rem;
  padding: 0.25rem 0.25rem;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: 'Bembo Standard Semibold';
  font-size: var(--font-size-mobile-x-large);

  border: var(--border-width) solid var(--color-tertiary);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.choices__choice:hover {
  border-color: var(--border-width) solid var(--color-tertiary);
}

.choices__button {
  padding: 0.5rem 2rem;
}

.rounds__text {
  font-size: var(--font-size-mobile-xx-large);
} 

.results__container {
  width: var(--container-width-mobile);
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.results__card {
  box-sizing: border-box;
  width: var(--container-width-mobile);
  background-color: var(--color-primary);
  
  padding: var(--padding-mobile-large);
  border-radius: var(--border-radius);
}

.results__header {
  font-size: var(--font-size-mobile-header);
}

.results__subheader {
  color: var(--color-tertiary);
  font-size: var(--font-size-mobile-xx-large);
}

.results__text {
  color: var(--color-white);
  font-size: var(--font-size-mobile-xx-large);
}

.results__text--wine-type {
  color: var(--color-tertiary);
  font-size: var(--font-size-mobile-xx-large);
}

.social-media__header {
  font-size: var(--font-size-mobile-subheader);
}

.social-media__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--flex-gap);

  width: var(--container-width-mobile);
}

.social-media__header {
  font-size: var(--font-size-mobile-subheader);
  margin: var(--margin-bottom);
}

.social-media__link {
  width: 4rem;
  height: 4rem;

  border-radius: var(--border-radius);

  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
}

#link-logo {
  background-image: url('./assets/svg/link-logo.svg');
  background-size: 70%;
}

#x-logo {
  background-image: url('./assets/svg/x-logo.svg');
  background-size: 50%;
}

#instagram-logo {
  background-image: url('./assets/svg/instagram-logo.svg');
  background-size: 70%;
}

#fb-logo {
  background-image: url('./assets/svg/fb-logo.svg');
  background-size: 70%;
}

@media (min-width: 1060px) { 
  .main-logo {
    margin-bottom: 3rem;
  }

  .choices__button {
    margin-top: 3rem;
  }

  .choices__choice, .choices__header, .choices__container {
    width: var(--container-width-desktop)!important;
  }

  .choices__container {
    height: 45rem;
  }

  .choices__choice {
    height: 6rem;
  }

  .choices__header {
    font-size: var(--font-size-desktop-subheader);
  }

  .quiz-splash-page__header {
    font-size: var(--font-size-desktop-header);
  }

  .choices__choice, .rounds__text, .quiz-splash-page__button, .choices__button {
    font-size: var(--font-size-desktop-large);
  }
}
