@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100
  }
}

.choice {
  animation: fadeIn 500ms forwards;
}

.selected {
  border: 5px solid red;
}

.red-font {
  color: red;
}

@media only screen and (min-device-width : 828px) {

}
