@font-face {
  font-family: 'Ivar Display';
  src: url('./assets/fonts/ivar-display-condensed-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modena Sans';
  src: url('./assets/fonts/modena-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #681A39;
  --color-secondary: #F9F6ED;
  --color-green: #47E46E;
  --color-red: #FF6161;

  --font-stack-primary: 'Ivar Display', Arial, sans-serif;
  --font-stack-secondary: 'Modena sans', Arial, sans-serif;
  --root-font-size-percent: 62.5%; 
  
  --font-size-mobile-header: 3.5rem;
  --font-size-mobile-subheader: 1.85rem;

  --border-radius: 0.75rem;
  --margin-top: 1.25rem;
  --margin-bottom: 1.25rem;

  --transition-seconds: 0.5s;
}

/* globals */
html {
  font-size: var(--root-font-size-percent);
}

body {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.quiz-wrapper * {
  font-family: var(--font-stack-primary);
  box-sizing: border-box;
  border: none;
}

/* utilities */
.font-primary {
  font-family: var(--font-stack-primary)!important;
}

.font-secondary {
  font-family: var(--font-stack-secondary)!important;
}

.main-logo {
  width: 15rem;
  height: 11rem;

  background-image: url('./assets/quiz-logo.png');
  background-size: cover;
  background-position: center;
}

/* containers */
.quiz-wrapper {
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  width: 100vw;
  height: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* background-image: url('./assets/quiz-background.jpg'); */
}

.quiz-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-container h1 {
  color: var(--color-primary);
  font-size: var(--font-size-mobile-header);
}

.quiz-container button {
  font-size: var(--font-size-mobile-subheader);
  font-family: var(--font-stack-secondary);

  background-color: var(--color-primary);
  color: var(--color-secondary);

  padding: 1rem 2rem;
}
